.contain{
    background-color: #00000042;
    backdrop-filter: blur(9px);
    grid-column: 2/3;
    height: 80vh;
    width: auto;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: start;
    border-radius: 8rem 2rem;
    margin: 3rem 0;
    box-shadow: 0 0 5px #7c7c7c;
    scroll-margin-top: 13ex;
}

.title{
    font-family: 'Caprasimo', cursive;
    font-size: 5.5rem;
    color: #eeff51;
    text-shadow: -6px -6px 0 #ffad16;
    margin-left: 18rem;
}

.container{
    padding: 3rem;
    margin: auto;
}

.icon{
    background-color: #75757549;
    border-radius: 1rem;
    color: #eeff51;
    font-size: 4.5rem;
    outline: 2px solid #ffad16;
    margin: .5rem;
    padding: .5rem;
}