.contain{
  background: linear-gradient(to bottom, #121212, #2D2D2D);
  height: 300vh;
  position: relative;
  top: -9rem;
  padding-top: 9.2rem;
  display: grid;
  grid-template-columns: 10% 90%;
}

