.contain{
    background-color: #00000042;
    backdrop-filter: blur(9px);
    grid-column: 2/3;
    height: 80vh;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8rem 2rem;
    margin: 3rem 0;
}


